.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

.blue-gradient {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 60%);
  height: 300px;
  width: 1000px;
  border-radius: 100%;
  background-color: blue;
  filter: blur(150px);
}

.nav-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
}

.navigation-item {
  position: relative;
  display: flex-column;
  justify-content: center;
  font-weight: 500;
  transition: all 1s;
  color: gray;
  height: 50px;
  cursor: pointer;
  font-size: 1.5rem;
}
.selected {
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.navigation-item:hover {
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.decoration {
  position: absolute;
  width: 0%;
  height: 4px;
  border: none;
  background-color: white;
  transition: all 1s;
  border-radius: 10px;
  top: 80%;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
  opacity: 0;
}

.decoration.show {
  opacity: 1;
  width: 50%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
