:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #f7efe3;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.font-alt {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: transparent;
  width: auto;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  outline-color: transparent;
  border-color: transparent;
  outline: 0;
  cursor: pointer;
}

/* Main Container classes */
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

/* Nav section classes */
.nav-section {
}
/* Thumbnail grid classes */

.thumbnail-section {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 8px;
  padding: 4em;
  background-image: url("./public//carousel-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.thumbnail-section .div1 {
  grid-column: span 5 / span 5;
}

.hamburguer-menu-button {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 600;
  font-size: 20px;
  transform: translate(-16px);
}
.hamburguer-menu-button img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(114deg)
    brightness(108%) contrast(113%);
  width: 24px;
  height: 24px;
}

.thumbnail-section .div2 {
  grid-column: span 5 / span 5;
  grid-row-start: 2;
  place-content: end;
  font-size: 23px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-btn {
  position: relative;
  transition: all 0.25s;
  cursor: pointer;
}

.navigation-buttons {
  padding-right: 8px;
  display: flex;
  gap: 24px;
  color: white;
  align-items: center;
}
.navigation-buttons hr {
  width: 5rem;
}

.navigation-btn:hover {
  font-weight: 600;
}

.thumbnail-section .div3 {
  grid-column: span 5 / span 5;
  grid-row-start: 3;
  font-size: 9rem;
  place-content: center;
}

.thumbnail-section .div4 {
  grid-column: span 5 / span 5;
  grid-row-start: 4;
  place-content: end;
  display: flex;
  align-self: end;
}
.social-buttons {
  display: flex;
  gap: 4vw;
  padding: 20px;
  align-items: center;
}

.social-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: opacity 0.3s;
}

.social-btn:hover {
  opacity: 0.7;
}

.carousel-indicators {
  padding-right: 24px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 5vw;
}

.dot {
  transition: all 0.25s;
  height: 8px;
  width: 8px;
  background-color: lightgray;
  border-radius: 100%;
}

.dot-highlight {
  border-radius: 100%;
  background-color: white;
  height: 10px;
  width: 10px;
}

/* Hero */

.nav-section {
  grid-column: span 2;
  box-sizing: border-box;
  padding: 4em;
  position: relative;
}

.language-toggle {
  position: absolute;
  right: 4.5em;
  top: 4.5em;
  display: inline-flex;
  text-align: right;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  gap: 56px;
}

.language-toggle span {
  margin-left: 0.5rem;
  color: #aaa;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.language-toggle .active {
  color: #000;
  font-weight: 600;
}

.side-description {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  gap: 64px;
  font-size: 16px;
  font-weight: 600;
  transform: rotate(90deg);
  position: absolute;
  right: -11rem;
  top: 50%;
}
.side-description div {
  width: 128px;
  height: 2px;
  background-color: black;
}

.images-container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 100%;
  place-self: center;
  width: 75%;
  gap: 3rem;
  right: 9rem;
}
.img-1 {
  align-self: flex-end;
  width: 360px;
}
.img-2 {
  align-self: flex-start;
  width: 275px;
}

.cta-section {
  width: 100%;
  display: flex;
  gap: 32px;
}

.shop-btn {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  border: 1px solid #000;
  background: transparent;
  height: 5rem;
  width: 35%;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
  text-align: center;
  word-break: normal;
  text-overflow: clip;
}
.shop-btn span {
  margin: auto;
}

.shop-btn:hover {
  background: #000;
  color: #fff;
}

.only-mobile {
  display: none;
}

.navigation-buttons-mobile {
  display: none;
}

@media all and (max-width: 2000px) {
  .shop-btn {
    display: none;
    right: 50%;
    transform: translate(50%, 0);
  }
  .only-mobile {
    display: block;
  }

  .images-container {
    justify-content: center;
  }
}

@media all and (max-width: 1377px) {
  /* Main Container classes */
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto;
    gap: 20px;
  }
  .hamburguer-menu-button {
    transform: translate(0);
  }

  .images-container {
    justify-content: start;
    padding-top: 72px;
    min-width: 240px;
  }
  .img-1 {
    align-self: flex-end;
    width: 240px;
  }
  .img-2 {
    width: 240px;
    align-self: flex-start;
  }

  .shop-btn {
    display: block;
    bottom: 1rem;
    height: 56px;
    min-width: 240px;
  }
  .side-description {
    right: -14.5rem;
  }
  .language-toggle {
    right: 0.9rem;
  }

  .thumbnail-section .div3 {
    font-size: 7rem;
  }

  .thumbnail-section {
    padding: 1rem;
  }

  .thumbnail-section .div4 {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 32px;
  }
  .social-buttons {
    gap: 16px;
  }
  .social-btn {
    font-size: 14px;
  }

  .carousel-indicators {
    padding-right: 16px;
    width: auto;
    justify-content: center;
    gap: 32px;
  }

  .nav-section {
    height: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .thumbnail-section .div3 {
    font-size: 6rem;
  }
}

@media all and (max-width: 480px) {
  .thumbnail-section .div2 {
    font-size: 1rem;
    line-height: 1.3rem;
    flex-direction: column;
    align-items: start;
  }
  .thumbnail-section .div3 {
    font-size: 5em;
  }

  .navigation-btn {
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
  }

  .navigation-buttons {
    display: none;
  }

  .navigation-buttons-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navigation-button-mobile {
    padding-left: 8px;
    padding-right: 8px;
    transform: scale(2);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation-button-mobile:hover {
    background-color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 9999px;
  }
}
