:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #f0efea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container { 
    margin: auto;
}
.card {
  background-color: white;
  box-shadow: 3px 3px 5px 1px lightgray;
  min-width: 200px;
}

.completed-todo {
  transition: all 0.25s;
}
.completed-todo span {
  text-decoration: line-through;
  color: lightgray;
}
.completed-todo img {
  filter: invert(54%) sepia(87%) saturate(942%) hue-rotate(106deg)
    brightness(94%) contrast(101%) !important;
}
.toggle-button {
  background-color: transparent;
  padding: 0;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.add-button {
  background-color: #00ce6a;
  color: white;
  border-radius: 32px;
  box-shadow: 1px 1px 1px lightgray;
  font-weight: 800;
  width: 50%;
  align-self: center;
  transform: translate(0, 50%);
  outline: none;
  border: none;
  transition: all 0.25s;
}
.add-button:hover {
  background-color: white;
  color: #00ce6a;
}
.todo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  transition: all 0.25s;
}
.todo-item img {
  filter: invert(96%) sepia(3%) saturate(1739%) hue-rotate(177deg)
    brightness(83%) contrast(86%);
}
.card-body {
  display: grid;
  gap: 8px;
  padding: 16px;

}
.card-title {
  color: #5a626f;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}
.card-subtitle {
  color: #acb3dd;
}
.card-divider {
  background-color: #f5f6fa;
  border: none;
  height: 6px;
  width: 100%;
}

.card-header {
  display: flex-column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 1em;
  padding-bottom: 0.25em;
  padding-left: 4em;
  padding-right: 4em;
}

.task-input {
  box-sizing: border-box;
  display: flex;
  padding: 12px;
  color: #acb3dd;
  margin-top: 2em;
  border-color: #acb3dd7c;
  border-style: solid;
  border-width: 1px;
}

.task-input-form  {
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    flex-direction: column;
}
.task-input input,
input::placeholder {
  border-radius: 0px;
  border: none;
  font-size: 16px;
  outline: none;
  font-weight: 400;
  width: 100%;
}
.task-input input::placeholder {
  color: #acb3ddbd;
}
